<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">
            Teachers
          </p>
          <a href="#" class="btn btn-primary">List</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">
            Students
          </p>
          <a href="#" class="btn btn-primary">List</a>
        </div>
      </div>
    </div>
  </body>
</html>
